<!DOCTYPE html>
<html>
  <head>
    <title>is it <%= @hash_tag %> tomorrow?</title>
    <link href="/css/main.css" rel="stylesheet" />
    <% if @ga_token %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= @ga_token %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>
  <body>
    <div class="status">
      <h1 class="<%= @is_occ_tomorrow %>">
        <%= @is_occ_tomorrow %>
      </h1>
      <p class="info">
        Last <%= @hash_tag %> was <%= @last_occ %>
      </p>
      <p class="info">
        Next <%= @hash_tag %> is <%= @next_occ %> (in <%= @days_till_next_occ %>)
      </p>
      <p class="occ_link">
      <a href="<%= @official_site %>"><%= @official_site %></a>
      </p>
    </div>
    <div class="about">
      <p class="small">
        status is computed, might be wrong, check official link
      </p>
      <p class="small">
        made by
        <a href="http://eoinisawesome.com">eoin</a>
        |
        <a href="http://github.com/ecoffey/isitopencoffeetomorrow">code</a>
      </p>
    </div>
  </body>
</html>

